* {margin: 0; padding: 0;}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Nunito', sans-serif;
}

#main {
	width: 100%;
	height: 100%;
	background: url('../img/bg.png') center center no-repeat;
	background-size: cover;
}

#controls {
	position: absolute;
	bottom: 30%;
	left: 20%;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding: 5% 1%;
	border-radius: 8px;
	cursor: pointer;
}

#controls h1 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.controls-hidden {
	display: none;
}

.controls-visible {
	display: relative;
}

.controls-ready {
	background-color: #111;
	color: #EEE;
}

.controls-waiting {
	background-color: #666;
	color: #EEE;
}

#newplayer {
	position: absolute;
	bottom: 40%;
	left: 20%;
	width: 60%;
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
}

#create-player {
	position: absolute;
	display: block;
	width: 100%;
	height: 10%;
	text-align: center;

	input {
		width: 60%;
		height: 100%;
		text-align: center;
		font-size: 1.5rem;
		color: #444;
		border-radius: 10px;
		border: none;
		-webkit-box-shadow: 2px 3px 3px 1px #696969;
		box-shadow: 2px 3px 3px 1px #696969;
	}

	#submit-name {
		width: 50%;
		height: 50%;
		margin-top: 5%;
		padding: 4% 2% 13% 2%;
		font-size: 1.5rem;
		font-weight: 700;
		color: #fff;
		background: transparent;
		border: 8px solid #fff;
		border-radius: 66px;
	}

	#submit-name:active {
		background: #fff;
		color: #000;
	}

	h2 {
		margin: 2%;
		color: #bdd828;
		font-weight: 400;
		font-size: 1.5rem;
	}
}

.createPlayer-hidden {
	bottom: -9999px;
	left: -9999px;
}

.createPlayer-visible {
	bottom: 33%;
}

#ready h1 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ready-visible {
	width: 60%;
	position: absolute;
	bottom: 10%;
	left: 20%;

	border-radius: 8px;
	padding: 5% 1%;

	cursor: pointer;
	text-align: center;
}

.ready-hidden {
	position: absolute;
	bottom: -9999px;
	left: -9999px;
}

.ready-true {
	background: #3DBF11;
	color: #F3F5C6;
}

.ready-false {
 	background: #C41212;
 	color: #F3F5C6;
}

#join-room-button {
	width: 55%;
	padding: 5% 0%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
	color: #fff;
	background: transparent;
	border: 8px solid #fff;
	border-radius: 66px;
}

#create-room {
	width: 60%;
	height: 25%;
	text-align: center;
	background: transparent;
	margin: 2% auto;
	margin-bottom: 8%;
	padding: 0% 0;
	border-radius: 8px;

	h2 {
		padding: 8% 4% 8% 4%;
		font-size: 1.2rem;
		font-weight: 700;
		color: #fff;
		background: transparent;
		border: 8px solid #fff;
		border-radius: 66px;
	}
}

.create-visible {
	display: block;
}

.create-hidden {
	display: none;
}

#room-form {
	margin: 2% 0;

	input {
		width: 80%;
		margin: 3% 0;
		padding: 5%;
		font-size: 1.3rem;
		text-align: center;
		border: none;
	}

	#submit-newroom {
		width: 60%;
		height: 50%;
		margin-top: 3%;
		padding: 3% 2% 3% 2%;
		font-size: 1.7rem;
		font-weight: 700;
		color: #bdd828;
		background: transparent;
		border: none;

	}
}

.room-form-hidden {
	display: none;
}

.room-form-visible {
	display: block;
}

.room-visible {
	position: absolute;
	width: 100%;
	top: 45%;
	left: 0;
}

.room-hidden {
	position: absolute;
	width: 60%;
	top: -9999px;
	left: -9999px;
}

#join-room {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/start_bg.png');
	border-radius: 0;

	h2 {
		text-align: center;
		font-size: 1.7rem;
		color: #fff;
		margin: 2% auto;
	}

	h3 {
		width: 100%;
		position: absolute;
		bottom: 5%;
		text-align: center;
		font-size: 0.9rem;
		color: #fff;
		margin: 2% auto;
		padding: 5% 0;
	}

	div {
		width: 100%;
		height: 50px;
		margin: 0 auto;
		display: block;
		position: absolute;
	}

	#arrowup {
		top: 15%;
		background: url('../img/arrow_up.png') center center no-repeat;
		background-size: contain;
	}

	#arrowdown {
		bottom: 23%;
		background: url('../img/arrow_down.png') center center no-repeat;
		background-size: contain;
	}

	#room-list {
		width: 60%;
		height: 35%;
		position: relative;
		margin: 0 auto;
		margin-top: 27%;
		text-align: center;
		overflow: scroll;

		p {
			background: #bdd828;
			color: #fff;
			padding: 3% 0;
			margin: 5%;
			border-radius: 36px;
		}
	}
}

.join-visible {
	display: block;
}

.join-hidden {
	display: none;
}

#password-box {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);

	h2 {
		color: #bdd828;
		text-align: center;
		font-size: 1.3rem;
		margin: 43% 0 5% 0;
	}

	#password-input {
		width: 60%;
		margin: 5% auto;
		margin-left: 15%;
		padding: 5%;
		border: none;
		border-radius: 8px;
		text-align: center;
		font-size: 1.1rem;
	}

	#password-submit {
		width: 60%;
		margin-left: 21%;
		padding: 6% 3% 6% 3%;
		font-size: 1.2rem;
		font-weight: 700;
		color: #fff;
		background: transparent;
		border: 8px solid #fff;
		border-radius: 66px;
	}

	#password-back {
		text-align: center;
		width: 100%;
		margin: 5% 0;
		color: #eee;
		font-size: 0.9rem;
	}

	p {
		text-align: center;
		color: #f00;
	}
}

.password-hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.password-visible {
	position: absolute;
	top: 0;
	left: 0;
}


#playerlist {
	width: 100%;
	height: 100%;
}

table {
	width: 100%;
	margin: 0 auto;
}

table th {
	padding: 5px 0;
	text-align: left;
	font-weight: normal;
	color: #eee;
	font-size: 0.8rem;
}

table td {
	padding: 2px 0;
	width: 100%;
	color: #fff;
	font-size: 1.0rem;
	letter-spacing: 0.05rem;
}

.player-active {
	background: url('../img/target.png') center center no-repeat;
	background-size: cover;
}

.player-gameover {
	background: none;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

#gameover, #youwin {
	color: #000;
	position: absolute;
	left: 50%;
	bottom: 3%;
	width: 300px;
	margin-left: -75px;
}

#restart h1 {
	width: 60%;
	position: absolute;
	bottom: 20%;
	left: 20%;

	border-radius: 66px;
	border: 10px solid #000;
	padding: 5% 1%;

	cursor: pointer;
	text-align: center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
